<html>
  <head>
    <style>
      body { 
                  background-image: url('../assets/images/img5.jpg');
                  background-repeat: no-repeat;
                  background-attachment: fixed;
                  background-size: cover;
                }
    </style>
  </head>
  <body>
    <div>
      <nav class="navbar navbar-light" style="background-color: palevioletred;">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Flowers</a>
          </div>
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <li><a  routerLink="login">Login</a></li>
            <li><a  routerLink="register">Register</a></li>
            <li><a  routerLink="flower"> Add Flower</a></li>
            <li><a routerLink="flowerorder">Items</a></li>
            <li><a  routerLink="summary" >Cart</a></li>
            <li><a  routerLink="login">Logout</a></li>
           
          </ul>
        </div>
      </nav>
      </div>
      <div>
          <router-outlet></router-outlet>
      </div>
  </body>
</html>

