
<html>
    <head>
        <style>
            body { 
              background-image: url('../assets/images/login.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
        </style> 
    </head> 
    <body>
        <div class="container">
       <span class="form"> 
        
        <div >
            
            <form [formGroup]="myForm" (ngSubmit)="register()"> 
                 <h1> REGISTRATION </h1>
                <p> User Id</p>
            <!-- <label class="form-control">ID</label> -->
            <input type="text" class="form-control"   [(ngModel)]="user.id"  [formControl]="id"  placeholder="User_ID">
            <span *ngIf="id.valid==false && id.touched" class="alert alert-danger">
                Id cannot be empty
            </span>
            <p> Password</p>
            <!-- <label class="form-control">Password</label> -->
            <input type="password" class="form-control" [(ngModel)]="user.password" [formControl]="pass" placeholder="password" >
            <span *ngIf="pass.valid==false && pass.touched" class="alert alert-danger">
                password cannot be empty
            </span>
             <p>Re-Type Password</p>
            <!-- <label class="form-control">Re-Type Password</label> -->
            <input type="password" class="form-control" [(ngModel)]="rePassword" [formControl]="repass" placeholder="Re-Type password">
            <span *ngIf="repass.valid==false && repass.touched" class="alert alert-danger">
                Confirm password
            </span>
            <p> Username</p>
            <!-- <label class="form-control">Username</label> -->
            <input type="text" class="form-control" [(ngModel)]="user.name" [formControl]="name" placeholder="name"> 
            <span *ngIf="name.valid==false && name.touched" class="alert alert-danger">
                Name cannot be empty
            </span>
            <button class="btn btn-success" >Register</button>
        </form>
        </div>
    </span>
    
    </div>
    </body>
</html>

