.container{
    padding-top: 2%;
    width: 300px;
    height: 500px;
    /* background: rgba(0,0,0,0.5); */
    margin-left: 20px;
    
   
    
}
.form{
    width: 150px;
    height: 550px;
}
.form-control{
    margin-bottom: 6%;    
} 
.div.alert alert-success{
    margin: 5%;
  font-weight: bold;
  color:palevioletred;
}
button{
    width: 265px;
    background-color: palevioletred;
    
}
 p{
    font-weight: bold;
    color:black;
}
h1{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input[type="text"],input[type="password"]
{
    
    background : transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: black;
    
   
}
/* body{
    background-color:red;
    background-image: url(" ../../assets/images/pexels-photo-414660.jpeg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

            /* body { 
              background-image: url('../assets/images/regi.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
     */


 